<h1>Selectores anidados</h1>
<hr>

<form [formGroup]="myForm">
  <div class="grid">
    <div class="col-12 sm:-m-1">
      <mat-form-field>
        <mat-label>Region</mat-label>
        <mat-select formControlName="regions" (selectionChange)="onRegionChange($event)">
          <mat-option>Seleccionar</mat-option>
          @for (region of regions; track region) {
          <mat-option [value]="region.code">{{region.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 sm:m-1" *ngIf="countries.length > 0">
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select formControlName="countries" (selectionChange)="onCountryChange($event)">
          <mat-option>Seleccionar</mat-option>
          @for (country of countries; track country) {
          <mat-option [value]="country.cca3">{{country.name.common}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12 sm:m-1" *ngIf="borders.length > 0">
      <mat-form-field>
        <mat-label>Borders</mat-label>
        <mat-select formControlName="borders">
          <mat-option>Seleccionar</mat-option>
          @for (border of borders; track border) {
          <mat-option [value]="border">{{border}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>
  </div>
</form>

<h3>Form</h3>
<pre>{{myForm.value | json}}</pre>
<p>its form valid? <strong>{{ myForm.valid }}</strong></p>

<div class="grid">
  <div class="col-4">
    <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
  </div>
  <div class="col-4">
    <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
  </div>
  <div class="col-4">
    <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
  </div>
</div>
